@model List<CrayonViewModel>

@{
    ViewData["Title"] = "Writing Instruments";
}

<div class="text-center">
    <h1 class="display-4">All The Crayons!!!</h1>
</div>

<div>
    @foreach (var crayon in @Model)
    {
        <a asp-controller="WritingInstrument" asp-action="Crayon" asp-route-CrayonId="@crayon.Id" style="color: @crayon.Color">@crayon.Color</a><br/>
    }
</div>