<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DataProvider" value="API" />
    <add key="BaseUrl" value="https://localhost:44381/api/" />
  </appSettings>
</configuration>