<div class="jumbotron">
    <h1>$safeprojectname$</h1>
    <h2>Version @ViewBag.Version</h2>
    <h3>DB Connection: "@ViewBag.DBConn"</h3>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>