@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create a Crayon <a asp-controller="WritingInstrument" asp-action="Crayon">Here!!</a>.</p>
</div>
